body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fact button {
  margin-top: 80px;
  background-color: aqua;
  width: 20%;
  height: 100px;
  padding: 0px;
  margin-left: 10px;
  font-size: 24px;
}

.fact textarea {
  margin-top: 80px;
  display: block;
  width: 80%;
  height: 300px;
  text-align: left;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

form {
  width: 100%;
  margin-top: 80px;
}

form button {
  background-color: aqua;
  width: 20%;
  padding: 0px;
  margin-left: 10px;
  font-size: 24px;
}

form input {
  text-align: left;
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}

.predict {
  display: block;
  margin-top: 50px;
  font-size: 24px;
}
